<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixlab.minesoft.singte.core.mapper.SeoDataMapper" >
  <resultMap id="BaseResultMap" type="cn.sixlab.minesoft.singte.module.minesoft.models.SeoData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="INTEGER" />
    <result column="pv" property="pv" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, uid, user, category, ip, pv, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from seo_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seo_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sixlab.minesoft.singte.module.minesoft.models.SeoData" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into seo_data (date, uid, user, 
      category, ip, pv, create_time
      )
    values (#{date,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{ip,jdbcType=INTEGER}, #{pv,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sixlab.minesoft.singte.module.minesoft.models.SeoData" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into seo_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="date != null" >
        date,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="pv != null" >
        pv,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=INTEGER},
      </if>
      <if test="pv != null" >
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sixlab.minesoft.singte.module.minesoft.models.SeoData" >
    update seo_data
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=INTEGER},
      </if>
      <if test="pv != null" >
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sixlab.minesoft.singte.module.minesoft.models.SeoData" >
    update seo_data
    set date = #{date,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=INTEGER},
      pv = #{pv,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  -->

  <select id="selectByDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from seo_data
    where date = #{date,jdbcType=VARCHAR}
    order by id
  </select>

  <select id="selectBeforeDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from seo_data
    where date > #{date,jdbcType=VARCHAR}
    order by date
  </select>

  <select id="selectUserCategory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from seo_data
    where uid = #{uid,jdbcType=VARCHAR}
    and category = #{category,jdbcType=VARCHAR}
    and date > #{date,jdbcType=VARCHAR}
    order by date
  </select>

  <select id="selectUserDateCategory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from seo_data
    where uid = #{uid,jdbcType=VARCHAR}
    and category = #{category,jdbcType=VARCHAR}
    and date = #{date,jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>