@charset "utf-8";

/*column_market*/
.column_left{width:114px; padding:30px 21px 20px 20px;background:#F8F8F8}
.column_left .news_center_ico img{ height:88px; width:88px;padding:0 13px 15px}
.column_left .news_center_ico p{ text-align:center; color:#999;}
.column_left h3.bold{ font-size:18px; color:#333; font-weight:bold; border-bottom:1px solid #e0e0e0; width:114px; height:35px; line-height:35px; text-align:center;}
.column_left li a{ font-size:18px; font-weight:normal; display:block; text-align:center; height:35px; line-height:35px; width:114px;}
.column_left li.thisclass a{color:#ef8200;}
.column_left li.last_li a{ border-bottom:1px dashed #e0e0e0;}
.column_left .wechat{ padding:33px 0 20px 0;}
.column_left .wechat p{ background:url(/static/images/box/wx_logo.png) no-repeat; margin-left:10px; padding-left:25px;}
.column_left .sina p{ background:url(/static/images/box/sina_logo.png) no-repeat left center;margin-left:10px; padding-left:25px;}

/*中间新闻列表*/
.column_center{width:710px; padding:0 27px;}
.column_center h4{ height:44px; line-height:44px; border-top:1px solid #e0e0e0; background:#f8f8f8; font-weight:normal; font-style:normal; position:relative;}
.column_center h4 a{font-weight:bold; font-size:18px; display:block; padding-left:20px; color:#EF8200; height:43px; line-height:43px; border-top:1px solid #fff; position:absolute;top:1px; width:709px;}
.column_center .li_list li{ padding:20px 0; border-bottom:1px solid #e0e0e0;}
.column_center li .right{width:484px;}
.column_center li .p1 a{ display:block;width:484px; font-size:18px; font-weight:bold; line-height:25px;color:#333; text-align:left; }
.column_center li .p2{ padding-top:8px; line-height:21px;}
.column_center li .p2 a{color:#999; }
.column_center li .top{ height:130px;}
.column_center li .bottom .on{ color:#EF8200; }
.column_center li .bottom a{margin-right:15px;}
.column_center li .bottom span{ background:url(/static/images/list/time.png) no-repeat left center; padding-left:18px; color:#999;}

/*底部分页*/
.list_page li a{ float:left; padding:8px 14px; border:1px solid #e0e0e0; margin-right:8px; cursor:pointer;}
.list_page li span{ float:left; padding:8px 14px; border:1px solid #e0e0e0; background-color:#eeeeee; margin-right:8px; cursor:pointer;}
.list_page li.thisclass a{ background:#EF8200; color:#fff;}
